In [1]:
# dependencies
import os
import pandas as pd

In [2]:
# make a list of all files in AirData folder by looping through
AQbyYear = os.listdir("AirData")
df_list = []

for file in AQbyYear:
    df = pd.read_csv(f"AirData/{file}")
    df_list.append(df)

In [3]:
# concatenate all csvs in the list
airData = pd.concat(df_list)
airData.reset_index(inplace=True,drop=True)

In [4]:
# print all column names
columns=list(airData)
print(columns)

['State Code', 'County Code', 'Site Num', 'Parameter Code', 'POC', 'Latitude', 'Longitude', 'Datum', 'Parameter Name', 'Sample Duration', 'Pollutant Standard', 'Metric Used', 'Method Name', 'Year', 'Units of Measure', 'Event Type', 'Observation Count', 'Observation Percent', 'Completeness Indicator', 'Valid Day Count', 'Required Day Count', 'Exceptional Data Count', 'Null Data Count', 'Primary Exceedance Count', 'Secondary Exceedance Count', 'Certification Indicator', 'Num Obs Below MDL', 'Arithmetic Mean', 'Arithmetic Standard Dev', '1st Max Value', '1st Max DateTime', '2nd Max Value', '2nd Max DateTime', '3rd Max Value', '3rd Max DateTime', '4th Max Value', '4th Max DateTime', '1st Max Non Overlapping Value', '1st NO Max DateTime', '2nd Max Non Overlapping Value', '2nd NO Max DateTime', '99th Percentile', '98th Percentile', '95th Percentile', '90th Percentile', '75th Percentile', '50th Percentile', '10th Percentile', 'Local Site Name', 'Address', 'State Name', 'County Name', 'City Name', 'CBSA Name', 'Date of Last Change']

In [5]:
# remove extraneous columns
airData = airData[["County Code","Site Num","Parameter Code","Parameter Name","Pollutant Standard","Year",
        "Local Site Name","Address","County Name","City Name"]]
airData = airData.rename(columns={"County Name":"County","City Name":"City",
                                  "Local Site Name":"Site","Parameter Name":"Parameter"})

In [6]:
airData

,County Code,Site Num,Parameter Code,Parameter,Pollutant Standard,Year,Site,Address,County,City
0,1,7,42601,Nitric oxide (NO),NaN,2010,Livermore,793 Rincon Ave.,Alameda,Livermore
1,1,7,42602,Nitrogen dioxide (NO2),NO2 1-hour,2010,Livermore,793 Rincon Ave.,Alameda,Livermore
2,1,7,42602,Nitrogen dioxide (NO2),NO2 Annual 1971,2010,Livermore,793 Rincon Ave.,Alameda,Livermore
3,1,7,42603,Oxides of nitrogen (NOx),NaN,2010,Livermore,793 Rincon Ave.,Alameda,Livermore
4,1,7,43102,Total NMOC (non-methane organic compound),NaN,2010,Livermore,793 Rincon Ave.,Alameda,Livermore
...,...,...,...,...,...,...,...,...,...,...
110179,113,1003,88101,PM2.5 - Local Conditions,PM25 24-hour 2012,2020,Woodland-Gibson Road,"41929 E. GIBSON ROAD, WOODLAND",Yolo,Woodland
110180,113,1003,88101,PM2.5 - Local Conditions,PM25 Annual 2006,2020,Woodland-Gibson Road,"41929 E. GIBSON ROAD, WOODLAND",Yolo,Woodland
110181,113,1003,88101,PM2.5 - Local Conditions,PM25 Annual 2012,2020,Woodland-Gibson Road,"41929 E. GIBSON ROAD, WOODLAND",Yolo,Woodland
110182,113,2001,81102,PM10 Total 0-10um STP,PM10 24-hour 2006,2020,West Sacramento-15th Street,"132 15TH ST., WEST SACRAMENTO",Yolo,West Sacramento
110183,113,2001,85101,PM10 - LC,NaN,2020,West Sacramento-15th Street,"132 15TH ST., WEST SACRAMENTO",Yolo,West Sacramento

In [7]:
sites = airData[["Site Num","Site"]]
sites = sites.drop_duplicates(subset=["Site Num"])
sites

        Site Num                    Site
0              7               Livermore
163            9                 Oakland
197           11            Oakland West
304         1001    Fremont - Chapel Way
369         2004                Berkeley
...          ...                     ...
99374       6501        Fire Station #19
103186        31               Lone Pine
104950      4009      Signal Hill (LBSH)
104964      4010  North Hollywood (NOHO)
108342      6502         Caltrans-Chavez

[143 rows x 2 columns]

In [9]:
# make a list of all files in EMFAC folder by looping through
countyFuel = os.listdir("EMFAC")
df_list = []

for file in countyFuel:
    df = pd.read_csv(f"EMFAC/{file}")
    df_list.append(df)

In [10]:
# concatenate all csvs in the list
fuelData = pd.concat(df_list)
fuelData.reset_index(inplace=True,drop=True)

In [11]:
# remove extraneous columns
fuelData = fuelData[["Region","Calendar Year","Vehicle Category", "Fuel","Total VMT","Fuel Consumption"]]
fuelData

,Region,Calendar Year,Vehicle Category,Fuel,Total VMT,Fuel Consumption
0,Alameda,2010.0,HHDT,Gasoline,2.275761e+06,695.207414
1,Alameda,2010.0,HHDT,Diesel,4.623569e+08,80796.116960
2,Alameda,2010.0,LDA,Gasoline,6.302708e+09,258724.711900
3,Alameda,2010.0,LDA,Diesel,2.906758e+07,831.538264
4,Alameda,2010.0,LDT1,Gasoline,6.426012e+08,30644.627120
...,...,...,...,...,...,...
15822,Yuba,2020.0,OBUS,Gasoline,3.276525e+05,72.558361
15823,Yuba,2020.0,OBUS,Diesel,3.143435e+05,48.538570
15824,Yuba,2020.0,SBUS,Gasoline,2.480469e+05,24.535042
15825,Yuba,2020.0,SBUS,Diesel,1.076952e+06,135.005776
15826,Yuba,2020.0,UBUS,Diesel,1.465403e+06,159.410220

In [12]:
fuelData = fuelData.rename(columns={"Calendar Year":"Year","Region":"County"})
fuelData

,County,Year,Vehicle Category,Fuel,Total VMT,Fuel Consumption
0,Alameda,2010.0,HHDT,Gasoline,2.275761e+06,695.207414
1,Alameda,2010.0,HHDT,Diesel,4.623569e+08,80796.116960
2,Alameda,2010.0,LDA,Gasoline,6.302708e+09,258724.711900
3,Alameda,2010.0,LDA,Diesel,2.906758e+07,831.538264
4,Alameda,2010.0,LDT1,Gasoline,6.426012e+08,30644.627120
...,...,...,...,...,...,...
15822,Yuba,2020.0,OBUS,Gasoline,3.276525e+05,72.558361
15823,Yuba,2020.0,OBUS,Diesel,3.143435e+05,48.538570
15824,Yuba,2020.0,SBUS,Gasoline,2.480469e+05,24.535042
15825,Yuba,2020.0,SBUS,Diesel,1.076952e+06,135.005776
15826,Yuba,2020.0,UBUS,Diesel,1.465403e+06,159.410220

In [13]:
counties = fuelData["County"].unique()
counties

array(['Alameda', 'Alpine', 'Amador', 'Butte', 'Calaveras', 'Colusa',
       'Contra Costa', 'Del Norte', 'El Dorado', 'Fresno', 'Glenn',
       'Humboldt', 'Imperial', 'Inyo', 'Kern', nan, 'Lake', 'Lassen',
       'Los Angeles', 'Madera', 'Marin', 'Mariposa', 'Mendocino',
       'Merced', 'Modoc', 'Mono', 'Monterey', 'Napa', 'Nevada', 'Orange',
       'Placer', 'Plumas', 'Riverside', 'Sacramento', 'San Benito',
       'San Bernardino', 'San Diego', 'San Francisco', 'San Joaquin',
       'San Luis Obispo', 'San Mateo', 'Santa Barbara', 'Santa Clara',
       'Santa Cruz', 'Shasta', 'Sierra', 'Siskiyou', 'Solano', 'Sonoma',
       'Stanislaus', 'Sutter', 'Tehama', 'Trinity', 'Tulare', 'Tuolumne',
       'Ventura', 'Yolo', 'Yuba'], dtype=object)

In [14]:
county_df = pd.DataFrame({"County":counties})
county_df

             County
0           Alameda
1            Alpine
2            Amador
3             Butte
4         Calaveras
5            Colusa
6      Contra Costa
7         Del Norte
8         El Dorado
9            Fresno
10            Glenn
11         Humboldt
12         Imperial
13             Inyo
14             Kern
15              NaN
16             Lake
17           Lassen
18      Los Angeles
19           Madera
20            Marin
21         Mariposa
22        Mendocino
23           Merced
24            Modoc
25             Mono
26         Monterey
27             Napa
28           Nevada
29           Orange
30           Placer
31           Plumas
32        Riverside
33       Sacramento
34       San Benito
35   San Bernardino
36        San Diego
37    San Francisco
38      San Joaquin
39  San Luis Obispo
40        San Mateo
41    Santa Barbara
42      Santa Clara
43       Santa Cruz
44           Shasta
45           Sierra
46         Siskiyou
47           Solano
48           Sonoma
49       Stanislaus
50           Sutter
51           Tehama
52          Trinity
53           Tulare
54         Tuolumne
55          Ventura
56             Yolo
57             Yuba

In [15]:
county_df.to_csv("./Tables/Counties.csv")