In [1]:
# dependencies
import os
import pandas as pd

In [2]:
# make a list of all files in EMFAC folder by looping through
countyFuel = os.listdir("EMFAC")
df_list = []

for file in countyFuel:
    df = pd.read_csv(f"EMFAC/{file}")
    df_list.append(df)

In [3]:
# concatenate all csvs in the list
fuelData = pd.concat(df_list)
fuelData.reset_index(inplace=True,drop=True)

In [4]:
# remove extraneous columns
fuelData = fuelData[["Region","Calendar Year","Vehicle Category", "Fuel","Total VMT","Fuel Consumption"]]
fuelData

,Region,Calendar Year,Vehicle Category,Fuel,Total VMT,Fuel Consumption
0,Alameda,2010.0,HHDT,Gasoline,2.275761e+06,695.207414
1,Alameda,2010.0,HHDT,Diesel,4.623569e+08,80796.116960
2,Alameda,2010.0,LDA,Gasoline,6.302708e+09,258724.711900
3,Alameda,2010.0,LDA,Diesel,2.906758e+07,831.538264
4,Alameda,2010.0,LDT1,Gasoline,6.426012e+08,30644.627120
...,...,...,...,...,...,...
15822,Yuba,2020.0,OBUS,Gasoline,3.276525e+05,72.558361
15823,Yuba,2020.0,OBUS,Diesel,3.143435e+05,48.538570
15824,Yuba,2020.0,SBUS,Gasoline,2.480469e+05,24.535042
15825,Yuba,2020.0,SBUS,Diesel,1.076952e+06,135.005776
15826,Yuba,2020.0,UBUS,Diesel,1.465403e+06,159.410220

In [5]:
fuelData = fuelData.rename(columns={"Calendar Year":"Year","Region":"county"})
counties = fuelData["county"].unique()
counties

array(['Alameda', 'Alpine', 'Amador', 'Butte', 'Calaveras', 'Colusa',
       'Contra Costa', 'Del Norte', 'El Dorado', 'Fresno', 'Glenn',
       'Humboldt', 'Imperial', 'Inyo', 'Kern', nan, 'Lake', 'Lassen',
       'Los Angeles', 'Madera', 'Marin', 'Mariposa', 'Mendocino',
       'Merced', 'Modoc', 'Mono', 'Monterey', 'Napa', 'Nevada', 'Orange',
       'Placer', 'Plumas', 'Riverside', 'Sacramento', 'San Benito',
       'San Bernardino', 'San Diego', 'San Francisco', 'San Joaquin',
       'San Luis Obispo', 'San Mateo', 'Santa Barbara', 'Santa Clara',
       'Santa Cruz', 'Shasta', 'Sierra', 'Siskiyou', 'Solano', 'Sonoma',
       'Stanislaus', 'Sutter', 'Tehama', 'Trinity', 'Tulare', 'Tuolumne',
       'Ventura', 'Yolo', 'Yuba'], dtype=object)

In [6]:
county_df = pd.DataFrame({"county":counties})
county_df

             county
0           Alameda
1            Alpine
2            Amador
3             Butte
4         Calaveras
5            Colusa
6      Contra Costa
7         Del Norte
8         El Dorado
9            Fresno
10            Glenn
11         Humboldt
12         Imperial
13             Inyo
14             Kern
15              NaN
16             Lake
17           Lassen
18      Los Angeles
19           Madera
20            Marin
21         Mariposa
22        Mendocino
23           Merced
24            Modoc
25             Mono
26         Monterey
27             Napa
28           Nevada
29           Orange
30           Placer
31           Plumas
32        Riverside
33       Sacramento
34       San Benito
35   San Bernardino
36        San Diego
37    San Francisco
38      San Joaquin
39  San Luis Obispo
40        San Mateo
41    Santa Barbara
42      Santa Clara
43       Santa Cruz
44           Shasta
45           Sierra
46         Siskiyou
47           Solano
48           Sonoma
49       Stanislaus
50           Sutter
51           Tehama
52          Trinity
53           Tulare
54         Tuolumne
55          Ventura
56             Yolo
57             Yuba

In [7]:
county_df.to_csv("./Tables/Counties.csv")